<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.elovirta.stylesheetoptimizer" version="${version}">
  <feature extension="ant.import" file="build.xml"/>
  <feature extension="dita.conductor.lib.import" file="lib/stylesheetoptimizer.jar"/>
  <transtype name="base" abstract="true" desc="Common">
    <param desc="Generalise element names during preprocessing" name="generalise-element-name" type="enum">
      <val>true</val>
      <val default="true">false</val>
    </param>
  </transtype>
  <feature extension="dita.xsl.conref" file="xsl/conref.xsl"/>
  <feature extension="dita.xsl.maplink" file="xsl/maplink.xsl"/>
  <feature extension="dita.xsl.mapref" file="xsl/mapref.xsl"/>
  <feature extension="dita.xsl.mappull" file="xsl/mappull.xsl"/>
  <feature extension="dita.preprocess.debug-filter.param" file="debug-filter.xml"/>
  <feature extension="dita.preprocess.map-reader.param" file="debug-filter.xml"/>
  <feature extension="dita.preprocess.topic-reader.param" file="debug-filter.xml"/>
</plugin>
